#rForm{display:none;}
#rText{width:100%;height: 500px;}

#rArticle{
ackground:red;
margin:30px 0 10px 0;
padding:10px 0 10px 0;
}

button, input[type=submit]{
padding:10px 15px 10px 15px;
font-weight: bold;
cursor:pointer;
font-size:18px;
background: white;
color:rgb(2,106,203);
border: 2px solid rgb(2,106,203);
letter-spacing:1px;
}

button:hover, input[type=submit]:hover{
background:rgb(2,106,203);
color:white;
border-color:silver;
}

@keyframes puls{
from{background:green;}
to{background:lightgreen;}
}
input[type=submit].puls{
animation-name: puls;
animation-duration:1s;
animation-direction: alternate;
animation-iteration-count:infinite;
}
