.ahero{
color:rgb(233,76,129);
text-decoration:none;
border:1px solid rgb(233,76,129);
cursor:pointer;
padding:20px;
}
p{line-height:1.7}
#onlineSection,#onlineVideo{
	border:1px solid rgb(233,76,129);
	width:100%;
	height:auto;
	display:block;
	padding:20px 20px 30px 20px;	
	}
	#onlineContainer,#videoContainer{
	display:flex;
	flex-direction: row; 
	flex-wrap:wrap;
	justify-content:center;
	height:auto;
	}
	#onlineHeader,#onlineVideoHeader{
	font-weight:bold;
	font-size:2em;	
	text-align:center;
	margin-bottom: 30px;
	}
	.img-online-container{
	display:inline-block;
	flex:auto;
	height:100px;
	width:200px;
		text-align:center;
		margin:11px;
	}
	.img-online{
height:100px;
	}
	.img-footer{
	margin-top:-2px;	
	}
.newuserdiv{
margin-top:20px;
margin-bottom:20px;
}
.onlineVideo{

}
.videovroomers{width:150px;}

@media screen and (max-width: 750px) {
.videodiv{width:100%;}
.videodiv video{width:100%;}
}
@media screen and (max-width:320px){
.ahero{display:inline-block;}
.videodiv{width:100%;}
.videodiv video{width:100%;}
}
