/*
main{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:stretch;
}
#left{ackground:red;margin:0;width:500px;}
#left nav{adding:20px;}
#privet{padding:23px;}
#left nav div{padding:20px;}
#left nav ul{list-style:none;margin:0px;padding:20px;}
#left nav ul li{padding-top:5px;padding-bottom:5px;}
#left nav ul a{text-decoration:none;color:inherit;}
#sat{margin-left:40px;}
*/
h2{text-align:center;}
.ahero{
color:purple;/*rgb(233,76,129);*/
text-decoration:none;
border:1px solid purple;
cursor:pointer;
padding:20px;
}
#mainArticle{background:rgb(85, 165, 159);padding:1em;color:rgb(40,30,11);}
#newUserSection{background:rgb(202,230,199);padding:1em;}
p{line-height:1.7}
#onlineSection,#onlineVideo{
	border:1px solid rgb(85, 165, 159);
	width:100%;
	height:auto;
	display:block;
	padding:20px 20px 30px 20px;	
	
	}
	#onlineSection{background:rgb(85, 165, 159);}
	#onlineVideo{background:rgb(223,235,202);}
	
	#onlineContainer,#videoContainer{
	display:flex;
	flex-direction: row; 
	flex-wrap:wrap;
	justify-content:center;
	height:auto;
	}
	#VidContainer{}
	#onlineHeader,#onlineVideoHeader{
	font-weight:bold;
	font-size:2em;	
	text-align:center;
	margin-bottom: 30px;
	}
	.img-online-container{
	display:inline-block;
	flex:auto;
	height:100px;
	width:250px;
	text-align:center;
	margin:11px;
	position:relative;
	}
	.videodiv{width:200px;display:inline-block;flex:auto;}
	.videodiv video{width:100%;}
.img-online{
height:200px;
isplay:block;
osition:relative;
}
	.img-footer{
	margin-top:-2px;	
	font-size:0.6rem;
	position:relative;
	}
.newuserdiv{
margin-top:20px;
margin-bottom:20px;
background:rgb(202,230,233);
padding:1em;
}

.vroomers{margin:10px;padding:10px;background:rgba(255,255,255,0.4);}
.timecl{font-size:0.7rem;}
.onlineVideo{

}
.videovroomers{width:250px;}

span[itemprop="uploadDate"]{font-size:0;color:rgba(0,0,0,0);}
p[itemprop="description"]{margin:0;ine-height:1;font-size:0.6em;}

@media screen and (max-width: 750px) {
.videodiv{width:100%;}
.videodiv video{width:100%;}
}
@media screen and (max-width:320px){
.ahero{display:inline-block;}
.videodiv{width:100%;}
.videodiv video{width:100%;}
}
