
.chelp{margin:1px;padding:10px;}
h3{line-height:2;}
.chelobi:nth-child(odd){background:silver}
.chelobi.lightgreen{background:lightgreen;}
button{height:40px;font-weight:bold;border:2px solid black;cursor:pointer;}
button:first-child{margin-right:2px;}

