@keyframes puls{
from{background:green;}
to{background:lightgreen;}
}
button.puls{
animation-name: puls;
animation-duration:1s;
animation-direction: alternate;
animation-iteration-count:infinite;
}
button[data-table]{width:4rem;margin-top:1rem;}
