form{border:1px solid black;padding:2em;}
#fageId{
width:50%;
height:40px;
}
#profTxtar{
width:50%;
height:80px;
}
#aveId{
color:rgb(30,40,222);
}
/*
#profSubm{
height:40px;
font-weight:bold;
}
*/ 
#fspan{
padding-left:3em;
}
.profi{margin-bottom:10px;margin-top:10px;}
