.strong{font-size:0.7rem;color: rgb(20,30,10);}
input{}
.halter{display:inline-block;margin-top:12px;margin-bottom:12px;}
.newuserdiv{margin-top:20px;margin-bottom:20px;}

@media screen and (max-width: 321px) {
.halter{
ackground:red;
display:block;
}
input[type=number]{
margin-top:3px;margin-bottom:3px;
width:60px;
}
input[type=submit]{margin-left:0;}
}
