*{box-sizing:border-box;}
body{overflow-x:hidden;}
#online-detector{
background:red;width:1em;height:1em;display:inline-block;vertical-align:middle;
border-radius:1em;visibility:hidden;margin-top:-0.16em;margin-left:5px;
}

@keyframes puls{
from{background:pink;}
to{background:red;}
}
#online-detector.puls{
animation-name: puls;
animation-duration:1s;
animation-direction: alternate;
animation-iteration-count:infinite;
visibility:visible;
}

.red{color:red;} .green{color:green;}

#avacontainer{width:100px;}
#avacontainer img{width:100%;}
label[for="avfile"],label[for="roomdescr"]{font-size:0.7rem;}

#media-wrapper{
ackground:brown;
width:100%;
height:500px;
max-width:1800px;
display:block;
position:relative;
margin:0 auto;	

}
#mediaPanel{
background:rgb(5,8,8);	
color:white;
position:relative;
display:block;
padding:5px;
height: 12%;

}
#btccount{
	position:absolute;
	ackground:pink;
	right:10px;
	top:10px;
	padding:5px;
	border:1px solid yellow;
	z-index:1;
	color:yellow
}
#tokencount{
position:absolute;
left:10px;
top:10px;
padding:5px;
border:1px solid white;
}
#video-container{
background:rgba(20,25,25,0.9);
order:10px solid red;
position:relative;
display:block;
width:50%;
height:100%;
float:left;

}

#chat-container{
	ackground:rgba(0,0,0,0.5);
	width:50%;
	height:100%;
	overflow:hidden;
float:right;	
display:block;
}
#video-wrapper{
width:100%;
height:75%;
display:block;
position:relative;	
perspective:1000px;
perspective-origin:55% 55%;
transform-style:preserve-3d;
ackground:red;
}
#video-wrapper::after{
position:absolute;
ackground:brown;
ackground:rgba(24,20,20,0.7);
box-sizing:border-box;
top:0;
left:0;
font-size:1.2em;
content:"";
z-index:30;
color: white;
width:100%;
height:100%;
padding:1.8em;
line-height:1.5;
transition-property:all;
transition-duration:.2s;
}
#video-wrapper.start::after{
color:green;
width:0;
height:0;
font-size:0;
cotent:"";
}

#video-wrapper.owner::after{
content: attr(data-owner);
}
#video-wrapper.webcamowner::after{content: attr(data-webcamowner);}
#video-wrapper.notowner::after{
content: attr(data-notowner);
}
#video-wrapper.streaminterupt::after{
content: attr(data-streaminterupt);
}
#video-wrapper.connecting::after{content: attr(data-connecting);}
#video-wrapper.offline::after{content:"Offline";}
/*
#video-wrapper.owner-online::after{
content: attr(data-ownerOnline);	
}
#video-wrapper.owner-offline::after{
content:attr(data-ownerOfflineStrEn);
}
*/

#video-wrapper.connecting::after{
content:"Connecting...";
background:rgba(0,0,0,0.5);
color:yellow;	
}
#video-wrapper.connected::after{
content="";	
}

#under-chat{
background:pink;
width:100%;
height:13%;
display:block;
position:relative;	
}
#under-chat2{background:rgb(10,111,66);height:12.1%;text-align:right;padding-right:3px;}
#under-chat2 button:last-child{margin-right:0;}
#under-chat2 button{margin-right:0.5em;}

#chat{
ackground: white;
width:100%;
height:67%;
display:block;
position:relative;
overflow-y:auto;
white-space:pre-line;
word-wrap:break-word;
overflow-wrap:break-word;
overflow-x:auto;
}
.chat-txt{
width:100%;
height:100%;
padding-left:5px;	
}
.chat-div{
display:block;
position:relative;
width:100%;
white-space:pre-line;
word-wrap:break-word;
overflow-wrap:break-word;
padding:0.6em;
ackground-color:rgba(25,25,25,0.8);
border-bottom:1px solid rgba(55,255,255,0.8);
}
.chat-user{color:rgb(60,60,20);}
.chat-message{
color:black;
display:inline-block;
white-space: pre-line;
word-wrap:break-word;
vertical-align:bottom;
}

.chat-message img{}

.g-data{ackground:red;color:rgb(60,60,20);font-size:0.5em;text-align:right;}

#vasja, #btnFoto, .btn-start{
margin-top:0.2rem;
font-size:0.9em;
margin-right:0.2em;
padding:0.5rem;
}
.btn-saveL{
font-size:0.7em;
}
.btn-saveL.puls{
animation-name: puls;
animation-duration:1s;
animation-direction: alternate;
animation-iteration-count:infinite;
}
#under-video{
width:100%;
height:13%;
background:rgba(0,0,0,0.2);
display:block;
position:relative;	
}
#under-video2{background:pink;height:12.1%;text-align:right;background:rgba(0,3,5,0.6);padding-right:3px;}
header{font-weight:bold;margin-bottom:4px;}
#under-video.start{background:rgba(0,0,0,0);}

#remoteVideo{
position:relative;
z-index:1;
rder:10px solid red;
width:100%;
height:100%;
 }
 
#localVideo{width:40%;height: 50%;der:12px solid green;
position:absolute;top:0;left:0;z-index:2;
}

#chatPanel{padding:5px;
color:rgb(226,193,193);
background:rgb(10,111,66);
height:8%;}
#btnDonate{position:absolute;z-index:50;bottom:5px;right:6px;} 
#btcadr{padding-left:0.3em;}

.btc-img-a{display:inline-block;}
/*#imgher{width:20%;background:red;height:100px;display:inline-block;}*/
#btcInfo{display:inline-block;border:1px solid black;vertical-align:top;margin-left: 0;padding:5px;overflow:hidden;}
	

.btc-footer{display:block;position:relative;height:auto;adding:5px;ackground:red;}
#btc-container{display:block;vertical-align:top;margin-bottom: 3px;ackground:violet;}
#bInput{font-size:0.625rem;}
.btc-label{padding:0;}

.btc-input{height:40px;width:300px;}
.btn-save{height:40px;padding:8px;width:80px;border:1px solid black;font-weight:bold;vertical-align:top;}

#txtArea{padding-left:0.3rem;width:50%;height:40px;}
#btcGoal{padding-left:0.8rem;}

#setImg{width:30%;}/* top r bott left */
#pizda1,#pizda2{margin-top:50px;width:100%;}
#privat2{width:99%;}
#pizda2 div{margin-top:20px;margin-bottom:20px;width:99%;}
#pizda2 .vrite{text-align:right;}
#pizda1 #forImg{color:green;height:40px;width:100%;font-size:14px;}

#profileUl{list-style:none;margin:0;padding:0;}
#profileUl li{padding-top:2px;padding-bottom:2px;}
#qrcodeContainer{border:1px solid black;display:inline-block;padding:10px;margin-top:2px;}

#privatcontainer{
background:rgba(0,0,0,0.0);
color: white;
display:none;
position:absolute;
bottom:0px;
left:0;
width:40%;	
height:0;
overflow:hidden;
text-align:left;
transition: height 0.2s linear;
}
#privatcontainer.ondisplay{
display:block;
height:32px;
}
#privatcontainer.ondisplay.spanout{
height:400px;	
}
#privatpanel{
height:30px;
background: rgba(0,222,0,0.4);
text-align:right;
}
#privatpanel.msg-in{
animation-name: puls;
animation-duration:1s;
animation-direction: alternate;
animation-iteration-count:infinite;
animation-fill-mode:backwards;
}
#privatpanel span{cursor:pointer;color:lightblue;vertical-align:-5px;margin-right:4px;}
#privatchat{
background:rgba(0,0,10,0.2);color:white;
height:340px;overflow-y:auto;
white-space:pre-line;
word-wrap:break-word;
overflow-wrap:break-word;
}
#privatinput{
height:30px;
width:100%;	
}

#dopPanel{
background:lightgreen;
height:80px;
z-index:1;
display:none;
position:relative;
padding:10px;
margin-top:6px;
width:100.6%;
}

#dopPanel.dopPanel_out{
display:block;
}
#webcamStart{margin-right:3px;}
#dopPanelbtn,#webcamStart,#vStreamStart,#stopPrivat{margin-top:8px;}
#stopPrivat{margin-left:4px;}
#webcamStart.active{background:orange;}
button[disabled=true]{background:grey;border-color:grey;}
#vStreamStart[disabled],#stopPrivat[disabled]{background:grey;border-color:grey;color:rgb(128,150,128);}

#vStreamStart.active{background:orange;}

#roomdescr{width:100%;height:30px;}
#bankcardinput{height:43px;}
label[for="bankcardinput"],label[for="roomdescr"]{font-size:0.7rem;}
.requis{margin-top:10px;margin-bottom:10px;}
#modelava{width:200px;}
.fakebtn-start{padding:12px;}

@media screen and (min-width: 1900px) {
h2{margin-left:6px;}
}

@media screen and (max-width: 751px){
#chatPanel{line-height:1.7;}
#media-wrapper{height:auto;display:block;border:1px solid rgba(0,4,4,0.5);} 
#mediaPanel{height:52px;}
#video-container,#chat-container{
float:none;
display:block;
height: 500px;
border:1px solid transparent;
}
#chat-container{position:relative;height:auto;}
#video-container{width:100%;}
#chat-container{width:100%;}
#btcadr{font-size:0.7em;}

#btcInfo{margin-left:0; font-size:0.8em;overflow:auto;width:100%;}

#setImg{width:98%;}
.videodiv{width:100%;}
.videodiv video{width:100%;}
.btn-start,#webcamStart,#vStreamStart{color:inherit;font-size:0.8em;margin-top:0.4em;margin-left:0.2em;}
#dopPanel{height:auto;}
#under-chat2{height:auto;}
#under-video2{text-align:left;}
#btnFoto,#vasja{font-size:0.7em;margin-bottom:0.3em;}
label[for="ifRecord"]{color:red;vertical-align:0.09em;}
#chat-container{olor:red;margin-top:100px;padding-top:100px;display:block;position:relative;}
#stopPrivat,#btnStart,#teeTip,#vStreamStart{width:90%;margin-left:5%;margin-top:10px;margin-bottom:20px;}
}


@media screen and (max-width: 320px){
#chat-container{olor:red;margin-top:150px;padding-top:150px;display:block;position:relative;}
#stopPrivat,#btnStart,#teeTip,#vStreamStart{width:90%;margin-left:5%;margin-top:10px;margin-bottom:20px;}
#chatPanel{line-height:1.7;}

#video-wrapper{height:87%;}
#remoteVideo{}
	#video-wrapper::after{font-size:1em;padding-top:3em;}
	
	.btn-start,#webcamStart,#vStreamStart{color:inherit;font-size:0.8em;margin-top:1em;margin-left:5%;}
	#dopPanel{height:auto;}
	#chatTxt{width:100%;}
	.btc-input[type=text]{width:99%;font-size:0.8em;}
	
	#btc-container{width:99%;}
	#btnDonate{width:45%;}
	
	#pizda1  button{width:100%;margin-left:0;}
	#privatcontainer{width:100%;}
	.videodiv{width:100%;}
	.videodiv video{width:100%;}
	#under-chat2{height:auto;}
	#under-video2{text-align:left; height:auto;}
	#btnFoto,#vasja{font-size:0.7em;margin-bottom:0.3em;}
}
