*{box-sizing:border-box;}
body{overflow-x:hidden;}
#online-detector{
background:red;width:1em;height:1em;display:inline-block;vertical-align:middle;
border-radius:1em;visibility:hidden;margin-top:-0.16em;margin-left:5px;
}

@keyframes puls{
from{background:pink;}
to{background:red;}
}
#online-detector.puls{
animation-name: puls;
animation-duration:1s;
animation-direction: alternate;
animation-iteration-count:infinite;
visibility:visible;
}

.red{color:red;} .green{color:green;}

#media-wrapper{
background:brown;
width:100%;
height:500px;
max-width:1800px;
display:block;
position:relative;
margin:0 auto;	

}
#mediaPanel{
background:green;	
color:white;
position:relative;
display:block;
padding:5px;
height: 12%;

}
#btccount{
	position:absolute;
	ackground:pink;
	right:10px;
	top:10px;
	padding:5px;
	border:1px solid yellow;
	z-index:1;
	color:yellow
}
#video-container{
background:rgba(20,25,25,0.9);
border:1px solid yellow;
position:relative;
display:block;
width:50%;
height:100%;
float:left;

}

#chat-container{
	ackground:rgba(0,0,0,0.5);
	width:50%;
	height:100%;
	overflow:hidden;
float:right;	
display:block;
}
#video-wrapper{
width:100%;
height:75%;
display:block;
position:relative;	
perspective:1000px;
perspective-origin:55% 55%;
transform-style:preserve-3d;
ackground:red;
}
#video-wrapper::after{
position:absolute;
ackground:brown;/*rgba(24,20,20,0.7);*/
box-sizing:border-box;
top:0;
left:0;
font-size:1.2em;
content: attr(data-ownerOfflineStrEn);/*"Press 'start' button to broadcast yourself. To stop broadcast press 'stop' button.";	*/
z-index:30;
color: white;
width:100%;
height:100%;
padding:1.8em;
line-height:1.5;
transition-property:all;
transition-duration:.2s;
}
#video-wrapper.start::after{
color:green;
width:0;
height:0;
font-size:0;
cotent:"";
}

#video-wrapper.owner-online::after{
content: attr(data-ownerOnline);	
}
#video-wrapper.owner-offline::after{
content:attr(data-ownerOfflineStrEn);
}


#video-wrapper.connecting::after{
content:"Connecting...";
background:rgba(0,0,0,0.5);
color:yellow;	
}
#video-wrapper.connected::after{
content="";	
}
#btnFoto{height:1.3rem;cursor:pointer;border:1px solid black;}
#under-chat{
background:pink;
width:100%;
height:13%;
display:block;
position:relative;	
}
#under-chat2{background:violet;height:12.1%;text-align:right;}
#under-chat2 button:last-child{margin-right:0;}
#under-chat2 button{margin-right:0.5em;}
#chat{
width:100%;
height:67%;
eight: calc(87% - 8%);
display:block;
position:relative;
overflow-y:auto;
}
.chat-txt{
width:100%;
height:100%;
padding-left:5px;	
}
.chat-div{
display:block;
position:relative;
width:100%;
white-space:pre-line;
word-wrap:break-word;
overflow-wrap:break-word;
padding:0.6em;
background-color:rgba(25,25,25,0.8);
border-bottom:1px solid rgba(55,255,255,0.8);
}
.chat-user{color:yellow;}
.chat-message{color:white;
display:inline-block;
}

.g-data{ackground:red;color:white;font-size:0.5em;text-align:right;}

.btn-start{
idth:20%;
height:100%;	
ackground:yellow;
cursor:pointer;
z-index:30;
font-size:0.8em;
font-weight:bold;
letter-spacing:1px;
border:2px solid black;
vertical-align:center;
display:inline-block;
}
#vasja{
cursor:pointer;
height:100%;
idth:19%;
font-size:0.9em;
font-weight:bold;
 
letter-spacing:1px;
border:2px solid black;

}
.btn-saveL{
width:auto;
height:40px;
ackground:red;
font-weight:bold;
font-size:0.7em;
cursor:pointer;
letter-spacing:1px;
}
#under-video{
width:100%;
height:13%;
background:rgba(0,0,0,0.2);
display:block;
position:relative;	
}
#under-video2{background:pink;height:12.1%;text-align:right;}
header{font-weight:bold;margin-bottom:4px;}
#under-video.start{background:rgba(0,0,0,0);}

#remoteVideo{
position:relative;
z-index:3;
border:10px solid red;
width:100%;
height:120%;
 }
 
#remoteVideo.star{
overflow:hidden;
width: 100%;
height: 50%;
margin:0 auto;
object-fit:cover; 
transform:translateZ(0);
}
#localVideo{width:40%;height: 50%;border:12px solid green;
position:absolute;top:0;left:0;z-index:2;
}

#chatPanel{padding:5px;background:rgba(25,33,55,0.4);height:8%;}

  #btnDonate{position:absolute;z-index:50;bottom:5px;right:6px;} 

#btcadr{padding-left:0.3em;}

.btc-img-a{display:inline-block;}
/*#imgher{width:20%;background:red;height:100px;display:inline-block;}*/
#btcInfo{display:inline-block;border:1px solid black;vertical-align:top;margin-left: 0;padding:5px;overflow:hidden;}
	

.btc-footer{display:block;position:relative;height:auto;padding:5px;}
#btc-container{display:block;vertical-align:top;padding:0.8rem;}
.btc-label{padding:0;}
.btc-input{height:40px;width:300px;}
.btn-save{height:40px;padding:8px;width:80px;border:1px solid black;font-weight:bold;vertical-align:top;}

#txtArea{padding-left:0.3rem;width:50%;height:40px;}
#btcGoal{padding-left:0.8rem;}

#setImg{width:30%;}/* top r bott left */
#pizda1{ackground:pink;adding:2px;margin-top:20px;width:100%;}
#pizda1 #forImg{olor:green;height:40px;width:100%;font-size:14px;}
#pizda1  button{height:40px; width:30%;font-weight:bold;margin-left:70%;margin-top:7px;font-size:16px;}
#profileUl{list-style:none;margin:0;padding:0;}
#qrcodeContainer{border:1px solid black;display:inline-block;padding:10px;}

@media screen and (max-width: 751px){
#chatPanel{ackground:red;}
#media-wrapper{height:auto;display:block;border:1px solid rgba(0,4,4,0.5);} 
#mediaPanel{height:52px;}
#video-container,#chat-container{
float:none;
width:100%;	
display:block;
height: 500px;
border:3px solid yellow;
}
#btcadr{font-size:0.7em;}

#btcInfo{margin-left:0; font-size:0.8em;overflow:auto;width:100%;}

#setImg{width:98%;}

}


@media screen and (max-width: 320px){
#chat-container{color:red;margin-top:60px;}

#video-wrapper{height:87%;}
#remoteVideo{}
	#video-wrapper::after{font-size:1em;padding-top:3em;}
	#vasja{idth:20%;color:red;}
	.btn-start{idth:50%;}
	#chatTxt{width:100%;}
	.btc-input[type=text]{width:99%;font-size:0.8em;}
	
	#btc-container{width:99%;}
	#btnDonate{width:45%;}
	
	#pizda1  button{width:100%;margin-left:0;}
	
}
